html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

body {
    background-color:#131814;
}

h1 {
    color:#b72824;
    text-decoration: underline .1rem;
    font-size: 4rem;
    font-weight: bold;
    text-underline-offset: 15px;
    text-align: center;
}

h1,
img{
    animation-name: fadetxt;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadetxt{
    0%{
        opacity: 0;
    }
    50%{
        font-size: 4.2rem
    }
    100%{
        opacity: 1;
        font-size: 5rem;
    }
}

nav{
    float: right;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

nav ul{
    list-style-type: none;
}

nav a{
    color: #e3ffc4;
    border: 2px solid;
    padding: .5em 1em;
    text-transform: uppercase;
    text-decoration:none;
    transition: all .75s ease-in;
}

nav a:hover{
    color:#b72824;
    background-color:#e3ffc4;
    border-color: #e3ffc4;
    transition: all .75s;
}

img{
    display: block;
    margin: auto;
    
}

.bio {
    background-color:#b72824;
    color:#e3ffc4;
    padding: .7em .7em;
    text-align: center;
    font-size:1.5rem;
}

hr{
    border-top: 2px solid #e3ffc4;
}

.assignments a{
   
    color:#e3ffc4;
    padding: .5em .5em;
    text-decoration:none;
    line-height: 2;
    transition: all .3s
}

.assignments a:hover{
    color:#a4c480;
    font-size: 1.03rem;
    transition: all .3s;
}

footer {
    color:#b72824;
}

footer a{
    background-color:#b72824;
  color: #e3ffc4;
  padding: .5em 1em;
  text-transform: uppercase;
  text-decoration:none;
  transition: all .3s ease-in;
}

footer a:hover {
    background-color:#760a07;
    color:#a4c480;
    transition: all .3s;
}

.t a{
    color:#e3ffc4;
    font-size: .7rem;
    float: left;
}

.t a:hover{
    color:#a4c480;
}