html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

body {
    background-color:#48192e;
}

h1 {
    color:#957083;
    text-decoration: underline .1rem;
    font-size: 4rem;
    font-weight: bolder;
    text-underline-offset: 15px;
    text-align: center;
}

.fade-text{
    animation: fadehdr linear .5s;
    animation-fill-mode: forwards;
}

@keyframes fadehdr {
    0%{
        opacity: 0;
    }
    50%{
        font-size: 5.1rem
    }
    100%{
        opacity: 1;
        font-size: 5rem;
    }
}

nav{
    float: right;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

nav ul{
    list-style-type: none;
}

nav a{
    color: #c59c79;
    border: 2px solid;
    padding: .5em 1em;
    text-transform: uppercase;
    text-decoration:none;
    transition: all .75s ease-in;
}

nav a:hover{
    color:#48192e;
    background-color:#c59c79;
    border-color:#c59c79;
    transition: all .75s;
}

img{
    display: block;
    margin: auto;
    
}

.bio {
    background-color:#957083;
    color:#48192e;
    padding: .7em .7em;
    text-align: center;
    font-size:1.5rem;
}

hr{
    border: 1.5px solid #c59c79;
}

.assignments a{
   
    color:#957083;
    padding: .5em .5em;
    text-decoration:none;
    line-height: 2;
    font-size: 1.3rem;
    transition: all .3s;
}

.assignments a:hover{
    color:#b57294;
    font-size: 1.37rem;
    transition: all .3s;
}

footer {
    color:#c59c79;
}

footer a{
  background-color:#957083;
  color: #281822;
  padding: .5em 1em;
  text-transform: uppercase;
  text-decoration:none;
  transition: all .3s linear;
}

footer a:hover {
    background-color:#281822;
    color: #957083;
}

.t a{
    color:#c59c79;
    font-size: .7rem;
    float: left;
}

.t a:hover{
    color:#b78e6b;
}